page-products {

}
ion-content[role="form-style2"] .item{
	padding:0px;
}
ion-content[role="form-style2"] {
	margin-top:15px;
}
ion-content[role="form-style2"] .item-inner{
	border: 1px solid #dedede;
	margin-bottom:20px;
	padding-left:13px;
}
.padding-custom[padding] {
    padding: 16px !important;
}
.padding-custom-top-btm[padding] {
	padding: 0 16px !important;
	
}
.descn{
	font-size: 11px !important;
}
.titilecolorz{
	font-size: 12px !important;
}
ion-content[role="form-style2"] .top-title{
	margin-top:-5px;
	margin:0px;
}
ion-content[role="form-style2"] .top-title{
	color:#ed3237
}