ion-content.product-detail .card-md{
	width:100%

}
.titilecolor{color: red !important;font-size: 18px !important;}
.paddingbt{padding-bottom: 10px;}
ion-card img{width:auto !important; height: 200px !important;display: initial !important;}
ion-fab[top]{top:225px !important;}
.fab-md{background: #6c6c6c;}
.fab{width:40px !important;height:40px !important;}